.divContainer {
    display: grid;
    align-items: center;
    width: 1000px;
    justify-content: center;
    align-content: center;
    justify-items: center;
}
.divButtomInt{
    margin-left: 50px;
    margin-right: 50px;
    width: 250px;
    height: 50px;
    font-size: 20px;
}
.InputTexto {
    font-family: sans-serif; 
    font-size: 18px; 
    font-weight: 400; 
    color: #ffffff; 
    background:#ee0467;
    width: 500px;
    height: 300px;
    margin: 20px;
    
}